.main {
  margin-top:60px;
}
.error {
  color:red;
}
.row {
  margin-left:0;
  margin-right:0;
}
.col-sm-6 {
  padding-left:0;
  padding-right:0;
}
#rankings_nav {
  margin-bottom:10px;
}
#players_draft tbody tr {
  cursor:pointer;
}
.table th, .table td {
  padding: 5px 0 5px 10px;
}
.table-bordered thead tr th, .table-bordered thead tr td {
  border-bottom-width: 1px;
}
tr.QB {
  background-color: #F2A29D;
}
tr.RB {
  background-color: #B8CAEA;
}
tr.WR {
  background-color: #9DF2A7;
}
tr.DEF {
  background-color: #CDBE70;
}
tr.TE {
  background-color: #F2E09D;
}
tr.PK {
  background-color: #E99DF2;
}
#draftboard th {
  width:7em;
}
